.direnv

# Added by cargo

/target

# Added by nix

/result*

# For compat
/.rocks/*
/rocks.lock
/rocks.toml

# Temp test files
/lux-lib/resources/test/luatest-0.2-1/
/lux-lib/proptest-regressions/
/*.rockspec
*.snap.new

# Lux project files
/.lux/*
/lux.lock
/lux.toml
spec/
.busted

.pre-commit-config.yaml
