on: 
  pull_request:
    types: [opened, ready_for_review, reopened, synchronize]
  push:
    branches:
      - master

name: Integration tests (Linux/MacOS)

jobs:
  test:
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        os: ["ubuntu-24.04", "macos-14"]
        lua: [
          { version: "5.1", feature: "lua51" },
          { version: "5.2", feature: "lua52" },
          { version: "5.3", feature: "lua53" },
          { version: "5.4", feature: "lua54" },
          { version: "luajit-2.1", feature: "luajit" }
        ]
      fail-fast: false
          
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install neovim
        uses: rhysd/action-setup-vim@v1 # Used by the 'run' integration test
        with:
          neovim: true
          version: v0.11.0

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - name: Setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: neorocks
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Run tests (Linux/macOS)
        run: nix develop .#${{ matrix.lua.feature }} --command cargo nextest run --test "*"
